a {
  text-decoration: none;
  font-weight:bold;
}
a:link {
  color: #AB4A0E;
}
a:visited {
  color: #9F3A03;
}
a:hover, a:active, a:focus {
  color: #E1610C;
}
body {
  background-color: #444444;
  padding: 0;
}
td {
  border: 2px solid #BBBBBB;
}
.main_banner {
  background-color: #AB4A0E;
  border: 1px solid #FFCC88;
  color: #FFEEBB;
  margin: 5px;
  padding: 10px;
}
.main_content {
  background-color: #FCFCF0;
  border: 1px solid #AAAAAA;
  color: #000000;
  font-family: Verdana;
  font-size: 0.8em;
  margin: 5px;
  padding: 10px;
}
.main_content h1 {
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  font-size: 2.5em;
  margin: 0;
}
.main_content p {
  margin-left: 10px;
}
.button {
  background-color: #EEEEEE;
  border-color: #555555;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 6px 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
  overflow: visible;
  padding: 3px 3px 3px 22px;
  width: auto;
}
.borderize {
  border:3px solid #AB4A0E; 
}
.height200 {
  height: 200px;
}
.height300 {
  height: 300px;
}
.height400 {
  height: 400px;
}
.activity_detected {
  background-color:yellow;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  width: 50%;
}
.left {
  text-align: left;
}
.float_left {
  float: left;
}
.clear_both {
  clear: both;
}
.add {
  background: #858585 url("https://raw.githubusercontent.com/JillElaine/jquery-idleTimeout/gh-pages/add.png") no-repeat scroll 4px 3px ;
}
.close {
  background: url("https://raw.githubusercontent.com/JillElaine/jquery-idleTimeout/gh-pages/close.png") no-repeat scroll 4px 3px #858585;
}
.logoutall {
  background: url("https://raw.githubusercontent.com/JillElaine/jquery-idleTimeout/gh-pages/logout_green.png") no-repeat scroll 4px 3px #858585;
}
.logoutone {
  background: url("https://raw.githubusercontent.com/JillElaine/jquery-idleTimeout/gh-pages/logout_red.png") no-repeat scroll 4px 3px #858585;
}